/*Main assets including colors*/
body {
    margin: 0;
    padding: 0;
    /*A different font will be added last (K2D)*/
}

* {
    box-sizing: border-box;
}

:root {
    --bg-color: #3E6259;
    --primary-color: #EAEAEA;
    --head-color: white;
    --text-color: black;
    --nav-color: #1c1c1c;
    --clicked-color: #BFCF17;
    --hover-color: #ECF39E;
}

body {
    background-color: var(--bg-color);
}

/*-----------------------------------------*/

nav {
    overflow: hidden;
    background-color: var(--nav-color);
    margin: 0;
    padding: 0;

    ul {
        display: flex;
        justify-content: flex-end;
        margin: 0;
    }

    li {
    /* Shape content*/
    --p: 50px;
    aspect-ratio: 3/2;
    clip-path: polygon(var(--p) 0,100% 0,calc(100% - var(--p)) 100%,0 100%);
    width: 180px;
    height: 50px;

    /* Main content for nav*/
        align-items: center;
        display: inline-block;
        margin-right: 15px;
        list-style-type: none; /*This gets rid of the list bullet points*/
    }

    a {
        display: block;
        background-color: var(--primary-color);
            height: 50px;
        color: black;
        text-decoration: none;
        text-align: center;
    }
    a:hover {
        background-color: var(--hover-color);
    }
}

/*-----------------------------------------*/

#hero {
    margin: 0;
    height: 86%;
    width: 100%;
    align-content: center;
    background-color: white;/*Temp color*/
    margin-bottom: 4em;
    /*Needs a drawn background*/
    h1 {
        color: black;
    }
}

/*-----------------------------------------*/
/*Content area for RECENT Projects*/
h1 {
    text-align: center;
    color: var(--head-color);
}

body > #project-content {
    display: flex;
    justify-items: center;
}

#project-content {
    display: flex;
    justify-self: center;
    width: 100%;
    height: fit-content;
    margin-bottom: 2em;
}

#project-tabs > ul{
    list-style-type: none;
    height: 100%;
    border-right: solid 2px #EAEAEA;
    max-width: max-content;
    padding: 50px;
    margin: 0;
    margin-right: 4.5rem;
    color: var(--text-color);

    h3 {
        color: var(--head-color);
        text-align: center;
    }

    li {
        background-color: var(--primary-color);
        padding: 50px;
        margin-top: 1rem;
        text-align: center;
    }

    li:hover {
        cursor: pointer;
        background-color: var(--hover-color);
    }
}

#tab-btn {
    position: sticky;
}

#project-boxes {
    grid-column-start: span 3;
    grid-column-end: span 3;
    grid-row-start: span 2;
    grid-row-end: span 2;
    display: flex;
    justify-content: center;
    background-color: var(--primary-color); /*Temp color*/
    width: 230px;;
    height: 300px;
    margin: 2em;

    #content {
        background-color: blue; /*Temp color*/
        margin: 1rem;
        width: 80%;
        height: 50%;
    }

    #buttons {
        grid-column-start: 6;
        grid-column-end: span 8;
    }
}

.project-container {
    display: grid;
    grid-template-columns: repeat(12, auto);
    grid-template-rows: repeat(8, auto);
    gap: 18px;
    max-height: fit-content;
}
/*-----------------------------------------*/
/* Button assets*/

button { /*Need to get rid of the border color/outline*/
    background-color: var(--primary-color);
    width: 36px;
    height: 36px;
    border-radius: 25px;
}

button:hover {
    cursor: pointer;
}

/*Footer assets*/

footer {
    text-align: center;
    color: var(--head-color);
    margin-bottom: 1rem;
}