/*Main assets including colors*/
body {
    margin: 0;
    padding: 0;
    /*A different font will be added last (K2D)*/
}

* {
    box-sizing: border-box;
}

:root {
    --bg-color: #3E6259;
    --primary-color: #EAEAEA;
    --head-color: white;
    --text-color: black;
    --nav-color: #1c1c1c;
    --clicked-color: #BFCF17;
    --hover-color: #ECF39E;
}

body {
    background-color: var(--bg-color);
}

/*-----------------------------------------*/

nav {
    overflow: hidden;
    background-color: var(--nav-color);
    margin: 0;
    padding: 0;

    ul {
        display: flex;
        justify-content: flex-end;
        margin: 0;
    }

    li {
        /* Shape content*/
        --p: 50px;
        aspect-ratio: 3/2;
        clip-path: polygon(var(--p) 0, 100% 0, calc(100% - var(--p)) 100%, 0 100%);
        width: 180px;
        height: 50px;

        /* Main content for nav*/
        align-items: center;
        display: inline-block;
        margin-right: 15px;
        list-style-type: none;
        /*This gets rid of the list bullet points*/
    }

    a {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--primary-color);
        margin: 0;
        padding: 0;
        height: 50px;
        color: black;
        text-decoration: none;
    }

    a:hover {
        background-color: var(--hover-color);
    }
}

/*-----------------------------------------*/

#hero {
    margin: 0;
    height: 86%;
    width: 100%;
    align-content: center;
    background-color: white;
    /*Temp color*/
    margin-bottom: 4em;

    /*Needs a drawn background*/
    h1 {
        color: black;
    }
}

/*-----------------Content area for RECENT Projects-----------------*/

h1 {
    text-align: center;
    color: var(--head-color);
}

h2 {
    text-align: center;
    color: white
}

body>#project-content {
    display: flex;
    justify-content: center;
}

#project-content {
    display: flex;
    justify-self: center;
    width: 100%;
    height: fit-content;
    margin-bottom: 2em;
}

#project-tabs>ul {
    list-style-type: none;
    height: 100%;
    border-right: solid 2px #EAEAEA;
    border-left: solid 2px #EAEAEA;
    max-width: max-content;
    padding: 25px;
    margin: 0;
    border-radius: 25px;
    margin-right: 4.5rem;
    color: var(--text-color);

    h3 {
        color: var(--head-color);
        text-align: center;
    }

    li {
        background-color: var(--primary-color);
        padding: 25px;
        width: 145px;
        margin-top: 3rem;
        text-align: center;
        border-radius: 25px;

    }

    li:hover {
        cursor: pointer;
        background-color: var(--hover-color);
    }
}

#tab-btn {
    position: sticky;
}

#project-boxes {
    grid-column-start: span 3;
    grid-column-end: span 3;
    grid-row-start: span 2;
    grid-row-end: span 2;
    display: flex;
    justify-content: center;
    border-radius: 25px;
    background-color: var(--primary-color);
    /*Temp color*/
    width: 230px;
    ;
    height: 300px;
    margin: 2em;

    #content {
        background-color: blue;
        /*Temp color*/
        margin: 1rem;
        width: 80%;
        height: 50%;
    }

    #buttons {
        grid-column-start: 6;
        grid-column-end: span 8;
    }
}

.project-container {
    display: grid;
    grid-template-columns: repeat(12, auto);
    grid-template-rows: repeat(8, auto);
    gap: 18px;
    max-height: fit-content;
    border-right: solid 2px #EAEAEA;
    border-radius: 25px;
}

/*----------------Button assets----------------*/


#buttons {
    /*Need to get rid of the border color/outline*/
    background-color: var(--primary-color);
    width: 36px;
    height: 36px;
    border-radius: 25px;
}

#buttons:hover {
    cursor: pointer;
}

/*--------------About me page assets--------------*/

#intro-container {
    display: grid;
    grid-template-columns: repeat(12, auto);
    grid-template-rows: repeat(12, auto);
    gap: 8px;
}

#intro {
    margin: 5vh;
    display: flex;
    grid-column-start: span 12;
    grid-row-start: span 2;
    background-color: var(--primary-color);
    height: 50vh;
    width: 100vh;

    p {
        text-align: left;
        justify-self: flex-end;
        background-color: red;
        width: 50vh;
        height: 25vh;
    }

    img {
        justify-self: flex-start;
        background-color: #3E6259;
        width: 50vh;
        height: 50vh;
    }
}

#link-buttons {
    text-decoration: none;
    color: white;
    margin: 5px;
    background-color: #3E6259;
    text-align: center;
    width: 235px;
    height: fit-content;
    padding: 15px;
    border-radius: 15px;

    a:hover {
        cursor: pointer;
    }
}

#trait {
    background-color: var(--primary-color);
}

#trait-container {
    margin: 5vh;
}

#resume_content {
    display: flex;
    height: 100%;
    width: 100%;
}

#resume_container {
    display: grid;
    grid-template-columns: repeat(12, auto);
    grid-template-rows: repeat(8, auto);
    gap: 8px;
}

#resume_holder {
    display: flex;
    grid-column-start: 6;
    justify-content: center;
    background-color: var(--primary-color);
    width: 400px;
    height: 500px;

    #resume_download {
        height: 50px;
        width: 145px;
    }
}

div#resume {
    background-color: black;
}

/*--------------Contacts page--------------*/

#content-container {
    display: flex;
    justify-self: center;
    width: fit-content;
    max-width: max-content;
    height: fit-content;
    max-height: fit-content;
}

#link-container {
    width: max-content;
    height: fit-content;
    margin: 25px;
}

#contact-links {
    display: flex;
    justify-self: center;

    #link_boxs {
        background-color: var(--primary-color);
        margin: 15px;
        border-radius: 25px;
    }

    img {
        width: 150px;
        height: 150px;
    }

    ;
}

#links {
    text-align: center;
}

#contact-email {
    display: flex;
    justify-content: center;
}

#mail-container {
    justify-self: center;
    background-color: var(--primary-color);
    margin: 25px;
    width: 500px;
    height: fit-content;
    padding: 15px;
    border-radius: 25px;
}


/*Footer assets*/

footer {
    text-align: center;
    color: var(--head-color);
    margin-bottom: 1rem;
}